<div class="container">
    <!--<button (click)="displayTrainings()">Formations</button>-->
    <ng-container *ngIf="listCart else elseblock">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th><th>NOM</th><th>QUANTITE</th><th>PRICE</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of listCart">,
                <tr >
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td><input type="number" name="quantity" style="width: 60px" [(ngModel)]="item.quantity" (click)="onUpdateQty(item, item.quantity)"></td>
                    <td>{{item.price | number: '0.2'}}</td>
                    <td><a class="btn btn-danger" (click)="onRemoveToCart(item)">Supprimer</a></td>
                </tr>
                <tr>
                    <td >Total</td>
                    <td></td>
                    <td></td>
                    <td>{{item.price*item.quantity | currency : 'EUR'}}</td> 
                </tr>              
            </tbody>
        </table>
        <a class="btn btn-success" routerLink="/formular">Commander</a>
    </ng-container>
    <ng-template #elseblock>
        <div>Votre panier est vide.</div>
      </ng-template>
</div>