<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngIf ="listCategories">
      <div class="col-md-6 ms-3 d-flex justify-content-center">
      <button class="btn btn-success ms-2" *ngFor="let category of listCategories" (click)="getTrainingsByCatId(category.id)">{{category.name}}</button>
    </div>
    </ng-container>
  </div>
    <ng-container *ngIf="listTrainings">
        <div class="row">
            <div class="card m-3 border-success" style="width: 350px; margin-right: 10px; margin-bottom: 10px;" *ngFor="let training of listTrainings">
              <img class="img-thumbnail img-rounded btn"  [src]="host + '/photo/' + training.id" />
                <div class="row g-0">
                    <div class="col">
                <div class="card-body">
                  <div *ngIf="this.authService.isAdmin()">
                    <button (click)="onEditPhoto(training)">
                      <span class="fa fa-download"></span>
                    </button>
                    <p *ngIf="editPhoto && currentTraining == training">
                      <input type="file" (change)="onSelectedFile($event)">
                      <button class="btn btn-success" (click)="onUploadPhoto()">Upload</button>
                    </p>
                  </div>
                  <h5 class="card-title text-center">{{training.name}}</h5>
                  <p class="card-text"><small>{{training.description}}</small></p>
                  <p class="card-text"><small>{{training.price| currency : 'EUR'}}</small></p>
                  <input type="number" name="quantity" style="width: 60px" [(ngModel)]="training.quantity">
                  <a class="btn btn-success ms-2" (click)="onAddToCart(training)">Cart</a>
                  <div *ngIf="this.authService.isAdmin()">
                  <a class="btn btn-danger me-2 ms-2" (click)="deleteTraining(training)">Supprimer</a>
                  <a class="btn btn-primary mt-2" (click)="updateTraining(training)" routerLink="/training" >Update</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </ng-container>
</div>
