<div class="container ">
    <div class="col-md-3 m-auto">
        <form (ngSubmit)="login(myForm)">
            <div class="form-group">
                <label class="control-label">Email :</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Password :</label>
                <input type="text" name="firstname" class="form-control">
            </div>            
        </form>
        <button type="submit" class="btn btn-success">Valider</button> 
    </div>    
</div>
